<section class="body">
    <div class="text">
        <p>
            <u><strong><i>ReportIt</i></strong></u>App and web mobile are powerful plartforms that let South African residents
                    report the problems relating to water and sanitation.
        </p>
    </div>
</section>