<html>
    <head>
        
    </head>
    <body>
        <a>
            Welcome To ReportIT!
        </a>
        <p>
                 <u><strong><i>ReportIt</i></strong></u>
                 App and web mobile are powerful plartforms that let South African residents
                        report the problems relating to water and sanitation.
                 <!-- Throughout the country users can, “see it, say it, report it®” instantly, with the confidence that their concern is immediately communicated to the participating organization in real time -->
        </p>
    </body>
</html>