<!DOCTYPE html>
<HTML>
<head>
    <meta charset="UTF-8">
    <title>Camera</title>
    <% include colorCam.ejs %>
</head>
<body style="background-color: rgb(59, 56, 56);
background-image: url('https://www.transparenttextures.com/patterns/bright-squares.png')">
    <div class="mod_field">
        <h2 style="text-align: center; text-transform: uppercase; color: #fff; margin-top: 60px;"> Report your issues below</h2>
        <div class="c_camera">
            <div class="camField">
                <video id="video" width="400" height="500"></video>
            </div>
            <div class="picField">
                <canvas id="canvas" width="400" height="500"></canvas>
            </div>
        </div><br/>
        <div class="buts">
            <button id="clear" class="clrBtn" onclick="clearCanvas()">Clear</button>
            <button id="capture" class="capBtn">Report</button>
            <button id="capture" class="capBtn">Capture</button>
        </div>
    </div>
    <% include cam.ejs %>
</body>
</HTML>