<!DOCTYPE html>
<HTML>
<head>
    <meta charset="UTF-8">
    <title>Camera</title>
    <% include colorCam.ejs %>
</head>
<body style="background-color: pink;">
    <div class="c_upload">
        <input type="file" name="file" id="file">
    </div>
    <div class="mod_field">
        <div class="c_camera">
            <div class="camField">
                <video id="video" width="400" height="300"></video>
            </div>
            <div class="picField">
                <canvas id="canvas" width="400" height="300"></canvas>
            </div>
        </div>
        <div class="buts">
            <button id="clear" class="clrBtn" onclick="clearCanvas()">Clear</button>
            <a><button id="capture" class="capBtn">Capture</button></a>
        </div>
    </div>
    <% include cam.ejs %>
</body>
</HTML>